
	body
	{
		background-color:rgba(220,220,220,1.00);
		color:black;
		text-align:left;
	}
	div
	{
		background-color:white;
	}
	label
	{
		display: inline-block;
		float: left;
		clear: left;
		width: 80px;
		text-align: right;
		font-size:18px;
		padding:10px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	input[type="button"], input[type="sumbit"]
	{
		background-color:rgba(111,199,40,1.00);
		color:#FFFFFF;
		text-shadow:1px 1px 1px #1E1C1C;
		border:1px solid #4F4F4F;
		padding:5px;
		margin-bottom:5px;
		margin-top:5px;
		font-size:24px;
		box-shadow:-1px 1px 5px rgba(18,18,18,1.00);
			
	}
	input[type="button"]:disabled, input[type="sumbit"]:disabled
	{
		background-color:#E4E3E3;
		color:#4B191A;
		border:1px groove #4F4F4F;
		padding:5px;
		margin-bottom:5px;
		margin-top:5px;
			
	}
	input[type="text"], input[type="number"], input[type="date"], input[type="url"], select
	{
		padding:10px;
		margin-bottom:5px;
		margin-top:5px;
		font-size:24px;
		width:auto;
		max-width:80%;
		float:left;
	}
	input[type="range"]
	{
		float:left;
		width: 95%;
		height:50px;
		clear:both;
	}
	.inputBox, .ad
	{
		box-shadow:-1px 1px 3px #A3A3A3;
	}
	#titleBar
	{
		background-color:rgba(231,137,55,1.00);
		border:1px solid #000;
		height:100px;
		padding:20px 20px;
	}
	#titleBar h1
	{
		display: nline-block;
   		text-align:left;
	}
	.inputBox
	{
		position:relative;
		left:65%;
		padding:10px;
		margin-bottom:10px;
		border:1px solid black;
		width:32.5%;
		overflow:auto;
	}
	#previewTimeline
	{
		margin-bottom:20px;
		margin-left:20px;
		width:62.5%;
		height:auto;
		border:1px solid black;
		padding:0 10px;
	}
	#previewTimeline > div
	{
		position:relative;
		border:1px solid black;
		padding:10px;
		white-space:nowrap;	
	}
	#previewTimelineContainer
	{ 
		height:400px;
		overflow-x:scroll;
	}
	#previewTimelineTitle
	{
		height:30px;
		font-size:24px;
	}
	.ad
	{
		position:absolute;
		bottom:0px;
		top:0px;
		left:0px;
		width:60%;
		margin:10px;
		padding:10px;
		border:1px solid black;
	}
	.cardContainer
	{
		position: absolute;
		left:66%;
		top:170px;
		width:35%;
		height:900px;
		border:1px solid black;		
	}
	.cardBox
	{
		position:absolute;
		border:5px groove black;
		top:15px;
		right:20%;
		width:60%;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.cardBox:before
	{
		content:"";
		display:block;
		z-index:1;
		padding-top:200%;	
	}
	.cardDisplay
	{
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		background-color:#A49A8D;
	}
	.displayImageContainer 
	{
		position:absolute !important;
		margin:0 auto;
		left:5%;
		top:5%;
		height:90%;
		width:90%;
		overflow:hidden;
		border:2px solid black;
		text-align:center;	
		background-color:white;
	}
	.displayImageContainer img 
	{
		position:absolute;
		top:0;
		left:0;
		display:block;
	}
	.dateContainer
	{
		background-color:#A49A8D;
		display:block;
		position:absolute;
		left:0;
		width:100%;
		border-bottom:1px solid black;
		border-top:1px solid black;
		top:75%;
		padding:5% 0;
		text-align:center;
		z-index:1000;
	}
	.portrait img 
	{
		width:100%;
	}
	.landscape img 
	{
		height:100%;
	}
	.timelineCard
	{
		background-color:#A49A8D;
		border:1px solid black;
		width:190px;
		height:380px;
		position:absolute;
	}
	.timelineCard #timelineCardTitle
	{
		text-align:center;
		background-color:transparent;
	}
	.deleteButton
	{
		position:absolute;
		text-align:center;
		top:0;
		right:0;
		width:30px;
		height:30px;
		margin: 5px !important;
		padding:0 !important;
	}
	.editButton
	{
		position:absolute;
		bottom:2px;
		z-index:100;
		width:76px;
		left:0px;
		right:0px;
		margin:0 auto;
	}
	#colorPicker
	{
		position:absolute;
		bottom:0;
		width: 30%;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		height: 50px;
		text-align:center;
	}
	#colorPicker input
	{
		width:70%;
		height:50%	
	}
    